.museum {
    text-align: center;
}
.museumtext {
  /* background-color: rgb(248, 248, 248); */
  max-width: 65%;
  display: inline-block;
  text-align: left;
  /* margin: 4%; */
  padding:4%;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .museumtext {
    max-width: 100%;
}
}

#wiki-exhibit > .a-enter-vr{
  display: none;
}
#exhibit > .a-enter-vr{
  display: none;
}