@import '~antd/dist/antd.css';

#menualign {
  display: inline-block;
  justify-self: right;
}

#logoformatting {
  margin: 16px;
  max-height: 48px;
  display: inline-block;
  justify-content: left;
}

#mallocititle {
  display: inline-block;
  text-align: left;
  padding: 16px;
  padding-right:64px;
}

#signInOut{
  display: inline-block;
  float: right;
}

#splash {
  position: absolute;

  display: flex;
  align-items: center;
  justify-content: center;

  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;

  width: 200px;
  height: 200px;

  margin: auto;
}

@keyframes spin {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

.loading {
  width: 75px;
  height: 75px;
  animation: spin 1s infinite linear;
}