@import '~antd/dist/antd.css';

#menualign {
  display: inline-block;
  justify-self: right;
}

#logoformatting {
  margin: 16px;
  max-height: 48px;
  display: inline-block;
  justify-content: left;
}

#mallocititle {
  display: inline-block;
  text-align: left;
  padding: 16px;
  padding-right:64px;
}

#signInOut{
  display: inline-block;
  float: right;
}
